---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { headerData } from '~/navigation';
import Testimonials from '~/components/widgets/Testimonials.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Bioenneagram Coach | Enneagram and Biodescodification',
  robots: {
    index: true,
    follow: true,
  }
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Personal Growth"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Book Now',
        href: 'https://booking.bioenneagram.com/book',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1502325966718-85a90488dc29?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Bioenneagram Hero Image ',
    }}
  >
    <Fragment slot="title">
      Ready to discover the secrets of <br /> your personality: <span class="text-accent dark:text-white highlight"
        >ENNEAGRAM - BIODESCODIFICATION</span
      ><br />
    </Fragment><Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Discover your strengths, weaknesses, and how to improve your personal relationships with <span class="font-semibold"
          >Bioenneagram</span
        >.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget *************** -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Why Choose Bioenneagram?"
    subtitle="Each of the following features represents Bioenneagram's value proposition."
    columns={2}
    items={[
      {
        title: 'Experience real and lasting change in your life with our services',
        description:
          'From individual therapies to personal development retreats, every intervention is designed to deliver tangible results. Achieve your wellness and personal growth goals efficiently and meaningfully.',
        icon: 'tabler:report-analytics',
      },
      {
        title: 'Trust a professional dedicated to your well-being',
        description: `Highly trained and committed to providing quality service. Professionalism is reflected in every interaction, from therapeutic sessions to workshops and conferences, providing you with an environment of trust and respect.`,
        icon: 'tabler:file-certificate',
      },
      {
        title: 'Your mental peace is a priority',
        description:
          "We create environments that foster calm and tranquility. Whether you're participating in individual therapy or a relaxing retreat, our goal is for you to feel peaceful and harmonious. Here, you'll find a safe space to explore and grow.",
        icon: 'tabler:brain',
      },
      {
        title: 'Embrace your path to personal development',
        description: `We offer not only therapies but also retreats, workshops, and courses designed to nurture your growth. Each experience is crafted to unlock your potential and foster comprehensive development in all areas of your life.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Wellness shouldn\'t be an unattainable luxury',
        description: `We strive to make our services accessible to everyone. Affordability doesn't mean compromising quality; it means everyone deserves access to resources that promote their well-being. Discover how caring for your mental health can be an affordable and valuable investment in your life.`,
        icon: 'tabler:receipt-2',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Build Your Success"
    subtitle="Immerse yourself in a journey to your inner world and experience change. Explore how Bioenneagram's tailored solutions are key to driving success in diverse contexts, from corporate transformations to rekindling romantic sparks and fostering individual growth."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Is your company aspiring to remarkable transformation? Witness what can happen in your organization through comprehensive transformation. Our customized strategies not only boost productivity but also cultivate a healthier work environment. From emotional wellness programs to cultural changes, discover how our approach optimized efficiency and elevated overall employee well-being.',
      },
      {
        title: 'Benefits:',
        description: `Sustainable Productivity Increase. <br /> Significant Reduction in Staff Turnover. <br /> Tangible Improvement in Work Environment.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Company Image ',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Corporate Success: <br /><span class="text-2xl">Boosting Productivity and Work Well-being</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Embark on an emotional journey with your partner to overcome significant challenges. Our specialized couples therapy and strategic use of enneagram and biodescodification will allow you to rebuild not just communication but also a deeper emotional connection. Discover how self-awareness and mutual understanding can transform your relationship.`,
      },
      {
        title: 'Benefits:',
        description: `Strengthened Communication and Connection. <br /> Tools to Understand and Appreciate Differences. <br /> Relationship Renewal at Profound Levels.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1494774157365-9e04c6720e47?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Love Relationship Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Romantic Relationships: <br /><span class="text-2xl">Rebuilding Couples' Connection</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Join a transformative journey and experience significant personal growth through individual therapy. From stress management to overcoming limiting behavioral patterns, discover how the combination of biodescodification and enneagram unlocks your hidden potential. Honesty with oneself and self-awareness will be key to a more fulfilling and satisfying life.`,
      },
      {
        title: 'Benefits:',
        description: `Effective Stress and Personal Tension Management. <br /> Overcoming Limiting Behavioral Patterns. <br /> Achieving Greater Sense of Personal Fulfillment.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1493836512294-502baa1986e2?q=80&w=1790&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Individual Therapy Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Individual Therapy: <br /><span class="text-2xl">Unlocking Personal Potential</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Affordable Pricing"
    prices={[
      {
        title: 'Inspiring Conferences',
        subtitle:
          'Attend impactful conferences that challenge your perspective and stimulate personal growth',
        price: '0',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Elevate Your Awareness',
          href: 'https://www.youtube.com/@bioenneagram',
        },
        hasRibbon: true,
        ribbonTitle: 'Free',
      },
      {
        title: 'Individual Therapy',
        subtitle: 'Discover a personalized therapeutic experience tailored to your needs and goals',
        price: '80k',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Manage Your Emotions',
          href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
        },
      },
      {
        title: 'Couples Therapy',
        subtitle: 'Safe space to address challenges and improve couple communication',
        price: '150k',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Grow Together',
          href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
        },
        hasRibbon: true,
        ribbonTitle: 'Popular',
      },
      {
        title: 'Enneagram Introductory Course',
        subtitle: 'Explore the complexities of your personality',
        price: '254k',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Unlock Your Power',
          href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
        },
      },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Those Who Trusted Us"
    subtitle="Discover what our clients have to say about their experiences working with us."
    testimonials={[
      {
        testimonial: `My experience with BioEnneagram has been truly transformative. The coach has a unique ability to combine enneagram and biodescodification in a way that guides you toward deep self-understanding. In just a few sessions, I've experienced significant shifts in my perspective and how I handle life's challenges. I highly recommend this therapy to anyone seeking positive, lasting change.`,
        name: 'Alejandra',
        job: 'Employee at Huspost',
        image: {
          src: 'https://i.postimg.cc/V6fSq5R2/img-photo-profile-aleja.jpg',
          alt: 'Alejandra Image',
        },
      },
      {
        testimonial: `I can't find words to express my gratitude for discovering BioEnneagram. The enneagram and biodescodification have been key tools for understanding my behavioral patterns and overcoming emotional obstacles. The coach approaches issues with empathy and wisdom. My life has taken a positive turn, and I'm infinitely grateful for this transformative experience.`,
        name: 'Juan David Cardona',
        job: 'Founder of Raices',
        image: {
          src: 'https://i.postimg.cc/zfSbHTnn/img-photo-profile-juanda.jpg',
          alt: 'Juan David Cardona Image',
        },
      },
      {
        testimonial: `After participating in BioEnneagram sessions, I feel I'm finally connecting with my true self. The enneagram and biodescodification have provided deep insights into my emotional blocks and how to overcome them. The coach has been an exceptional guide on this self-discovery journey. My life perspective has changed, and I'm experiencing an inner peace I never thought possible.`,
        name: 'Sara',
        job: 'Professional Violinist',
        image: {
          src: 'https://i.postimg.cc/XJsbTvbM/img-photo-profile-sara.jpg',
          alt: 'Sara Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's Create Together"
    subtitle="Ready to make meaningful changes in your life?"
    actions={[
      {
        variant: 'primary',
        text: 'Let\'s Talk',
        href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What is Bioenneagram and how does it differ from standalone biodescodification and enneagram?',
        description: `Bioenneagram is a unique integration of biodescodification and enneagram. It combines biodescodification's power to understand emotional connections with enneagram's exploration of personality patterns. This synergy provides comprehensive insight into how past experiences impact current personality and behavior.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What is biodescodification and how can it benefit me?',
        description:
          'Biodescodification is a therapeutic approach exploring the connection between emotions and health. It works by decoding the emotional meaning behind physical/emotional symptoms. Experiencing biodescodification can help you understand and release emotional patterns affecting your wellbeing.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is prior experience with biodescodification or enneagram required for Bioenneagram sessions?',
        description: `No previous experience needed. Bioenneagram sessions are designed for all familiarity levels. Our professionals will guide you through the process, ensuring you feel comfortable and understand each stage.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How is the enneagram used in your services?',
        description: `The enneagram is a powerful self-awareness tool we use to understand personality patterns and motivations. We offer specific enneagram sessions and workshops to help you discover your type and apply this knowledge in daily life.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Do you offer online services?',
        description: `Yes, some of our services are available online, providing flexibility for those preferring to participate from home. Contact us for online availability details.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Get in Touch with Us"
    subtitle="Have questions? Contact us through the form below. We're here to help!"
    callToAction={{
      text: 'Message Us',
      target: '_blank',
      href: 'https://forms.gle/H1dRuGBHvAGP9hy3A',
    }}
    items={[
      {
        title: 'Write to Us',
        description: 'bioenneagramcoach@gmail.com',
        href: 'mailto:bioenneagramcoach@gmail.com?Subject=Interested%20in%20Services',
        icon: 'tabler:mail',
      },
      {
        title: 'Call Us',
        description: '+57 (300) 448-1819',
        href: 'tel:+573004481819',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow Us',
        description: '@bioenneagramcoach',
        href: 'https://www.instagram.com/bioenneagramcoach/',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

 <!-- BlogLatestPost Widget **************** -->
  <!-- 
  <BlogLatestPosts
    id="blog"
    title="Stay Informed with Bioenneagram Blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using bioenneagram effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>