---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { headerData } from '~/navigation';
import Testimonials from '~/components/widgets/Testimonials.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Bioenneagram Coach | Eneagrama y Biodescodificación',
  robots: {
    index: true,
    follow: true,
  }
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Crecimiento Personal"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Agendar Ahora',
        href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1502325966718-85a90488dc29?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Bioenneagram Hero Image ',
    }}
  >
    <Fragment slot="title">
      Listo para descrubrir los secretos de <br /> tu personalidad : <span class="text-accent dark:text-white highlight"
        >ENEAGRAMA - BIODESCODIFICACIÓN</span
      ><br />
    </Fragment><Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Descubre tus fortalezas, debilidades y como mejorar tus relaciones personales con <span class="font-semibold"
          >Bioenneagram</span
        >.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget *************** -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Por qué escoger Bioenneagram?"
    subtitle="Cada una de las siguientes caracteristicas es la propuesta de valor de Bioenneagram."
    columns={2}
    items={[
      {
        title: 'Experimenta un cambio real y duradero en tu vida con nuestros servicios',
        description:
          'Desde terapias individuales hasta retiros de desarrollo personal, cada intervención está diseñada para producir resultados tangibles. Alcanza tus metas de bienestar y crecimiento personal de manera eficiente y significativa.',
        icon: 'tabler:report-analytics',
      },
      {
        title: 'Confía en un profesional dedicado a tu bienestar',
        description: `Altamente capacitado y comprometido con brindar un servicio de calidad. La profesionalidad se refleja en cada interacción, desde sesiones terapéuticas hasta talleres y conferencias, proporcionándote un ambiente de confianza y respeto.`,
        icon: 'tabler:file-certificate',
      },
      {
        title: 'Tu paz mental es prioridad',
        description:
          'Creamos entornos que fomenten la calma y la tranquilidad. Ya sea que estés participando en una terapia individual o en un relajante retiro, nuestro objetivo es que te sientas tranquilo y en armonía. Aquí, encontrarás un espacio seguro para explorar y crecer.',
        icon: 'tabler:brain',
      },
      {
        title: 'Abraza tu camino hacia el desarrollo personal',
        description: `Ofrecemos no solo terapias, sino también retiros, talleres y cursos diseñados para nutrir tu crecimiento. Cada experiencia está diseñada para desbloquear tu potencial y fomentar un desarrollo integral en todas las áreas de tu vida.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'El bienestar no debería ser un lujo inalcanzable',
        description: `Nos esforzamos por hacer nuestros servicios accesibles para todos. Asequibilidad no significa comprometer la calidad; significa que todos merecen acceder a recursos que fomenten su bienestar. Descubre cómo el cuidado de tu salud mental puede ser una inversión asequible y valiosa en tu vida.`,
        icon: 'tabler:receipt-2',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Construye tu Éxito"
    subtitle="Sumérjete en en un viaje a tu mundo interior y experimenta un cambio.  Explora cómo las soluciones a medida de Bioenneagram son fundamentales para impulsar el éxito en diversos contextos, desde impulsar cambios corporativos hasta reavivar chispas románticas e impulsar el crecimiento individual."
    isReversed
    items={[
      {
        title: 'Descripción:',
        description:
          '¿Es tu empresa la que aspira a una notable transformación? Sé testigo de lo que puede pasar en tu organización al experimentar una transformación integral. Nuestras estrategias personalizadas no solo aumentaran la productividad, sino que también cultivaran un entorno de trabajo más saludable. Desde programas de bienestar emocional hasta cambios culturales, descubre cómo nuestro enfoque optimizó la eficiencia y elevó el bienestar general de los empleados.',
      },
      {
        title: 'Beneficios:',
        description: `Aumento Sostenible de la Productividad. <br /> Reducción Significativa de la Rotación de Personal. <br /> Mejora Tangible en el Clima Laboral.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Empresa Imagen ',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Éxito Empresarial: <br /><span class="text-2xl">Impulsando la Productividad y el Bienestar Laboral</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description: `Embárcate en un conmovedor viaje con tu pareja para lograr superar desafíos significativos. Nuestra terapia de pareja especializada y el uso estratégico del eneagrama y la bio descodificación les permitiran reconstruir no solo la comunicación, sino también tener una conexión emocional más profunda. Descubre cómo la autoconciencia y la comprensión mutua pueden transformar su relación.`,
      },
      {
        title: 'Beneficios:',
        description: `Fortalecimiento de la Comunicación y la Conexión. <br /> Herramientas para Comprender y Apreciar las Diferencias. <br /> Renovación de la Relación en Niveles Profundos.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1494774157365-9e04c6720e47?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Relacion Amorosa Imagen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Relaciones Amorosas: <br /><span class="text-2xl">Reconstruyendo la Conexión en Parejas</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Descripción:',
        description: `Únete a un viaje transformador  y  experimenta un crecimiento personal significativo a través de la terapia individual. Desde la gestión del estrés hasta superar patrones de comportamiento limitantes, descubre cómo la combinación de biodescodificación y eneagrama desbloquea tu potencial oculto. La honestidad con uno mismo y la autoconciencia serán claves para una vida más plena y satisfactoria.`,
      },
      {
        title: 'Beneficios:',
        description: `Gestión Efectiva del Estrés y las Tensiones Personales. <br /> Superación de Patrones de Comportamiento Limitantes. <br /> Logro de un Mayor Sentido de Satisfacción Personal.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1493836512294-502baa1986e2?q=80&w=1790&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Terapia Individual Imagen',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Terapia Individual: <br /><span class="text-2xl">Desbloqueando el Potencial Personal</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <Pricing
    title="Precios asequibles"
    prices={[
      {
        title: 'Conferencias Inspiradoras',
        subtitle:
          'Ve y asiste a conferencias impactantes que desafían tu perspectiva y estimulan el crecimiento personal',
        price: '0',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Eleva tu Consciencia',
          href: 'https://www.youtube.com/@bioenneagram',
        },
        hasRibbon: true,
        ribbonTitle: 'gratis',
      },
      {
        title: 'Terapia Individual',
        subtitle: 'Descubre una experiencia terapéutica personalizada que se adapta a tus necesidades y metas',
        price: '70k',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Gestiona tus Emociones',
          href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
        },
      },
      {
        title: 'Terapia para Parejas',
        subtitle: 'Espacio seguro para abordar desafíos y mejorar la comunicación en pareja',
        price: '130k',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Crece en Pareja',
          href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Curso de introducción al eneagrama',
        subtitle: 'Explora las complejidades de tu personalidad',
        price: '242k',
        period: 'cop',
        callToAction: {
          target: '_blank',
          text: 'Desbloquea tu Poder',
          href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
        },
      },
    ]}
  />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Quienes Confiaron"
    subtitle="Descubre lo que nuestros clientes tienen para decir sobre sus experiencias trabajando con nosotros."
    testimonials={[
      {
        testimonial: `Mi experiencia con BioEnneagram ha sido realmente transformadora. El coach tiene una habilidad única para combinar el eneagrama y la biodescodificación de una manera que te guía hacia una profunda comprensión de ti mismo. En solo unas sesiones, he experimentado un cambio significativo en mi perspectiva y en la forma en que manejo los desafíos de la vida. Recomiendo encarecidamente esta terapia a cualquiera que busque un cambio positivo y duradero.`,
        name: 'Alejandra',
        job: 'Empleada en Huspost',
        image: {
          src: 'https://i.postimg.cc/V6fSq5R2/img-photo-profile-aleja.jpg',
          alt: 'Alejandra Image',
        },
      },
      {
        testimonial: `No tengo palabras para expresar lo agradecido que estoy por haber descubierto BioEnneagram. El eneagrama y la biodescodificación han sido herramientas clave para comprender mis patrones de comportamiento y superar obstáculos emocionales. El coach tiene una manera de abordar los problemas con empatía y sabiduría. Mi vida ha dado un giro positivo, y no puedo agradecer lo suficiente por esta experiencia transformadora.`,
        name: 'Juan David Cardona',
        job: 'Fundador de Raices',
        image: {
          src: 'https://i.postimg.cc/zfSbHTnn/img-photo-profile-juanda.jpg',
          alt: 'Juan David Cardona Image',
        },
      },
      {
        testimonial: `Después de participar en las sesiones de BioEnneagram, siento que finalmente estoy conectando con mi verdadero yo. El eneagrama y la biodescodificación me han brindado una visión profunda de mis bloqueos emocionales y cómo superarlos. El coach ha sido un guía excepcional en este viaje de autodescubrimiento. Mi perspectiva de la vida ha cambiado, y estoy experimentando una paz interior que nunca pensé posible.`,
        name: 'Sara',
        job: 'Violinista Profesional',
        image: {
          src: 'https://i.postimg.cc/XJsbTvbM/img-photo-profile-sara.jpg',
          alt: 'Sara Image',
        },
      },
      // {
      //   testimonial: `Mi experiencia con BioEnneagram ha sido simplemente asombrosa. El coach tiene una capacidad única para llevar el eneagrama y la biodescodificación a un nivel totalmente nuevo. Cada sesión ha sido reveladora, y he experimentado cambios positivos en mi vida en un tiempo sorprendentemente corto. Recomiendo BioEnneagram a cualquiera que busque un enfoque integral para el crecimiento personal y la transformación.`,
      //   name: 'Camilo Gonzalez',
      //   job: 'Docente',
      //   image: {
      //     src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      //     alt: 'Camilo Gonzalez Image',
      //   },
      // },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Vamos a crear juntos"
    subtitle="¿Listo para lograr un cambio significativo en tu vida?"
    actions={[
      {
        variant: 'primary',
        text: 'Conversemos',
        href: 'https://api.whatsapp.com/send/?phone=573004481819&text=Hola%2C+me+gustar%C3%ADa+agendar+un+espacio+contigo&type=phone_number&app_absent=0',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Qué es Bioenneagram y cómo se diferencia de la biodescodificación y el eneagrama por separado?',
        description: `Bioeneagram es una integración única de biodescodificación y eneagrama. Combina el poder de la biodescodificación para entender las conexiones emocionales con el eneagrama para explorar los patrones de personalidad. Esta sinergia proporciona una visión más completa de cómo nuestras experiencias pasadas impactan nuestra personalidad y comportamiento actual.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿En qué consiste la biodescodificación y cómo puede beneficiarme?',
        description:
          'La biodescodificación es un enfoque terapéutico que busca comprender la conexión entre las emociones y la salud. Trabaja desentrañando el significado emocional de los síntomas físicos o emocionales. Experimentar la biodescodificación puede ayudarte a comprender y liberar patrones emocionales que pueden estar afectando tu bienestar.',
        icon: 'tabler:chevrons-right',
      },
      {
        title:
          '¿Es necesario tener experiencia previa en biodescodificación o eneagrama para participar en sesiones de Bioenneagram?',
        description: `No se requiere experiencia previa. Las sesiones de Bioenneagram están diseñadas para adaptarse a todos los niveles de familiaridad con la biodescodificación y el eneagrama. Nuestros profesionales te guiarán a través del proceso, asegurándose de que te sientas cómodo y comprendas cada etapa.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Cómo se utiliza el eneagrama en sus servicios?',
        description: `El eneagrama es una poderosa herramienta de autoconocimiento que utilizamos para entender los patrones de personalidad y motivaciones. Ofrecemos sesiones y talleres específicos de eneagrama para ayudarte a descubrir tu tipo y aplicar este conocimiento en tu vida cotidiana.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: '¿Ofrecen servicios en línea?',
        description: `Sí, algunos de nuestros servicios están disponibles en línea. Esto proporciona flexibilidad para aquellos que prefieren participar desde la comodidad de su hogar. Comunícate con nosotros para obtener más detalles sobre la disponibilidad en línea.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Pónte en contacto con nosotros"
    subtitle="¿Tienes alguna pregunta? Ponte en contacto con nosotros a través del siguiente formulario. Estamos aquí para ayudarte!"
    callToAction={{
      text: 'Comentanos',
      target: '_blank',
      href: 'https://forms.gle/H1dRuGBHvAGP9hy3A',
    }}
    items={[
      {
        title: 'Escribenos',
        description: 'bioenneagramcoach@gmail.com',
        href: 'mailto:bioenneagramcoach@gmail.com?Subject=Interesado%20en%20los%20productos',
        icon: 'tabler:mail',
      },
      {
        title: 'Contactanos',
        description: '+57 (300) 448-1819',
        href: 'tel:+573004481819',
        icon: 'tabler:headset',
      },
      {
        title: 'Siguenos',
        description: '@bioenneagramcoach',
        href: 'https://www.instagram.com/bioenneagramcoach/',
        icon: 'tabler:brand-instagram',
      },
    ]}
  />

 <!-- BlogLatestPost Widget **************** -->
  <!-- 
  <BlogLatestPosts
    id="blog"
    title="Manténgase informado con el blog de Bioenneagram"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using bioenneagram effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
