---
import '~/assets/styles/tailwind.css';

import { I18N } from '~/utils/config';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
// import SiteVerification from '~/components/common/SiteVerification.astro';
import Analytics from '~/components/common/Analytics.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';
import GTMHead from '~/components/common/GTMHead.astro';
import GTMBody from '~/components/common/GTMBody.astro';

// Uncomment line below to activate View Transitions
// import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <!-- <script is:inline type="application/ld+json" class="devinjar">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": ["Person", "Organization"],
            "@id": "https://www.bioenneagram.com/#person",
            "name": "Bioenneagram Coach",
            "logo": {
              "@type": "ImageObject",
              "@id": "https://www.bioenneagram.com/#logo",
              "url": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "contentUrl": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "caption": "Bioenneagram Coach",
              "inLanguage": "es"
            },
            "image": {
              "@type": "ImageObject",
              "@id": "https://www.bioenneagram.com/#logo",
              "url": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "contentUrl": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "caption": "Bioenneagram Coach",
              "inLanguage": "es"
            }
          },
          {
            "@type": "WebSite",
            "@id": "https://www.bioenneagram.com/#website",
            "url": "https://www.bioenneagram.com/",
            "name": "Bioenneagram Coach",
            "publisher": { "@id": "https://www.bioenneagram.com/#person" },
            "inLanguage": "es",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "https://www.bioenneagram.com/?s={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          },
          {
            "@type": "WebPage",
            "@id": "https://www.bioenneagram.com/#webpage",
            "url": "https://www.bioenneagram.com/",
            "name": "Bioenneagram Coach | Eneagrama y Biodescodificación",
            "datePublished": "2021-11-12T07:41:17-05:00",
            "dateModified": "2023-06-07T15:48:09-05:00",
            "about": { "@id": "https://www.bioenneagram.com/#person" },
            "isPartOf": { "@id": "https://www.bioenneagram.com/#website" },
            "primaryImageOfPage": { "@id": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg" },
            "inLanguage": "es"
          },
          {
            "@type": "Person",
            "@id": "https://www.bioenneagram.com/#bioenneagram",
            "name": "bioenneagram",
            "url": "https://www.bioenneagram.com/#bioenneagram",
            "image": {
              "@type": "ImageObject",
              "@id": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "url": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "caption": "bioenneagram",
              "inLanguage": "es"
            }
          },
          {
            "@type": "Article",
            "headline": "Bioenneagram Coach | Eneagrama y Biodescodificación",
            "keywords": "eneagrama,enneagram,biodescodificacion,bioenneagram,bio enneagram,enneagram test,coach,coaching,neurofacilitador,eneatipo,eneatipos,personalidad,terapias,crecimiento personal,ansiedad,desarrollo personal,autoconocimiento,transformación personal,bienestar emocional,salud mental,equilibrio emocional,autoexploración,autorreflexión,autodesarrollo,autoayuda,autoestima,resiliencia,empoderamiento personal,habilidades de vida,inteligencia emocional",
            "datePublished": "2021-11-12T07:41:17-05:00",
            "dateModified": "2023-06-07T15:48:09-05:00",
            "author": { "@id": "https://www.bioenneagram.com/#bioenneagram" },
            "publisher": { "@id": "https://www.bioenneagram.com/#person" },
            "description": "Descubre cómo el poder del eneagrama y la biodescodificación pueden ayudar en el desarrollo del ser",
            "name": "Bioenneagram Coach | Eneagrama y Biodescodificación",
            "@id": "https://www.bioenneagram.com/#richSnippet",
            "isPartOf": { "@id": "https://www.bioenneagram.com/#webpage" },
            "image": { "@id": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg" },
            "inLanguage": "es",
            "mainEntityOfPage": { "@id": "https://www.bioenneagram.com/#main" }
          }
        ]
      }
    </script> -->
    <!-- <SiteVerification /> -->
    <Analytics />
    <GTMHead />
    <!-- Start VWO Async SmartCode -->
    <link rel="preconnect" href="https://dev.visualwebsiteoptimizer.com" />
    <script type="text/javascript" id="vwoCode">
      window._vwo_code ||
        (function () {
          var account_id = 996906,
            version = 2.1,
            settings_tolerance = 2000,
            hide_element = 'body',
            hide_element_style =
              'opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;transition:none !important;',
            /* DO NOT EDIT BELOW THIS LINE */
            f = false,
            w = window,
            d = document,
            v = d.querySelector('#vwoCode'),
            cK = '_vwo_' + account_id + '_settings',
            cc = {};
          try {
            var c = JSON.parse(localStorage.getItem('_vwo_' + account_id + '_config'));
            cc = c && typeof c === 'object' ? c : {};
          } catch (e) {}
          var stT = cc.stT === 'session' ? w.sessionStorage : w.localStorage;
          code = {
            nonce: v && v.nonce,
            use_existing_jquery: function () {
              return typeof use_existing_jquery !== 'undefined' ? use_existing_jquery : undefined;
            },
            library_tolerance: function () {
              return typeof library_tolerance !== 'undefined' ? library_tolerance : undefined;
            },
            settings_tolerance: function () {
              return cc.sT || settings_tolerance;
            },
            hide_element_style: function () {
              return '{' + (cc.hES || hide_element_style) + '}';
            },
            hide_element: function () {
              if (performance.getEntriesByName('first-contentful-paint')[0]) {
                return '';
              }
              return typeof cc.hE === 'string' ? cc.hE : hide_element;
            },
            getVersion: function () {
              return version;
            },
            finish: function (e) {
              if (!f) {
                f = true;
                var t = d.getElementById('_vis_opt_path_hides');
                if (t) t.parentNode.removeChild(t);
                if (e) new Image().src = 'https://dev.visualwebsiteoptimizer.com/ee.gif?a=' + account_id + e;
              }
            },
            finished: function () {
              return f;
            },
            addScript: function (e) {
              var t = d.createElement('script');
              t.type = 'text/javascript';
              if (e.src) {
                t.src = e.src;
              } else {
                t.text = e.text;
              }
              v && t.setAttribute('nonce', v.nonce);
              d.getElementsByTagName('head')[0].appendChild(t);
            },
            load: function (e, t) {
              var n = this.getSettings(),
                i = d.createElement('script'),
                r = this;
              t = t || {};
              if (n) {
                i.textContent = n;
                d.getElementsByTagName('head')[0].appendChild(i);
                if (!w.VWO || VWO.caE) {
                  stT.removeItem(cK);
                  r.load(e);
                }
              } else {
                var o = new XMLHttpRequest();
                o.open('GET', e, true);
                o.withCredentials = !t.dSC;
                o.responseType = t.responseType || 'text';
                o.onload = function () {
                  if (t.onloadCb) {
                    return t.onloadCb(o, e);
                  }
                  if (o.status === 200 || o.status === 304) {
                    _vwo_code.addScript({ text: o.responseText });
                  } else {
                    _vwo_code.finish('&e=loading_failure:' + e);
                  }
                };
                o.onerror = function () {
                  if (t.onerrorCb) {
                    return t.onerrorCb(e);
                  }
                  _vwo_code.finish('&e=loading_failure:' + e);
                };
                o.send();
              }
            },
            getSettings: function () {
              try {
                var e = stT.getItem(cK);
                if (!e) {
                  return;
                }
                e = JSON.parse(e);
                if (Date.now() > e.e) {
                  stT.removeItem(cK);
                  return;
                }
                return e.s;
              } catch (e) {
                return;
              }
            },
            init: function () {
              if (d.URL.indexOf('__vwo_disable__') > -1) return;
              var e = this.settings_tolerance();
              w._vwo_settings_timer = setTimeout(function () {
                _vwo_code.finish();
                stT.removeItem(cK);
              }, e);
              var t;
              if (this.hide_element() !== 'body') {
                t = d.createElement('style');
                var n = this.hide_element(),
                  i = n ? n + this.hide_element_style() : '',
                  r = d.getElementsByTagName('head')[0];
                t.setAttribute('id', '_vis_opt_path_hides');
                v && t.setAttribute('nonce', v.nonce);
                t.setAttribute('type', 'text/css');
                if (t.styleSheet) t.styleSheet.cssText = i;
                else t.appendChild(d.createTextNode(i));
                r.appendChild(t);
              } else {
                t = d.getElementsByTagName('head')[0];
                var i = d.createElement('div');
                i.style.cssText =
                  'z-index: 2147483647 !important;position: fixed !important;left: 0 !important;top: 0 !important;width: 100% !important;height: 100% !important;background: white !important;display: block !important;';
                i.setAttribute('id', '_vis_opt_path_hides');
                i.classList.add('_vis_hide_layer');
                t.parentNode.insertBefore(i, t.nextSibling);
              }
              var o = window._vis_opt_url || d.URL,
                s =
                  'https://dev.visualwebsiteoptimizer.com/j.php?a=' +
                  account_id +
                  '&u=' +
                  encodeURIComponent(o) +
                  '&vn=' +
                  version;
              if (w.location.search.indexOf('_vwo_xhr') !== -1) {
                this.addScript({ src: s });
              } else {
                this.load(s + '&x=true');
              }
            },
          };
          w._vwo_code = code;
          code.init();
        })();
    </script>
    <!-- End VWO Async SmartCode -->

    <!-- Uncomment line below to activate View Transitions -->
    <!-- <ViewTransitions fallback="swap" /> -->
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <GTMBody />
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
