---
import '~/assets/styles/tailwind.css';

import { I18N } from '~/utils/config';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Favicons from '~/components/Favicons.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import Metadata from '~/components/common/Metadata.astro';
import SiteVerification from '~/components/common/SiteVerification.astro';
import Analytics from '~/components/common/Analytics.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

// Uncomment line below to activate View Transitions
// import { ViewTransitions } from 'astro:transitions';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
  metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
    <Metadata {...metadata} />
    <script type="application/ld+json" class="devinjar">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": ["Person", "Organization"],
            "@id": "https://www.bioenneagram.com/#person",
            "name": "Bioenneagram Coach",
            "logo": {
              "@type": "ImageObject",
              "@id": "https://www.bioenneagram.com/#logo",
              "url": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "contentUrl": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "caption": "Bioenneagram Coach",
              "inLanguage": "es"
            },
            "image": {
              "@type": "ImageObject",
              "@id": "https://www.bioenneagram.com/#logo",
              "url": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "contentUrl": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "caption": "Bioenneagram Coach",
              "inLanguage": "es"
            }
          },
          {
            "@type": "WebSite",
            "@id": "https://www.bioenneagram.com/#website",
            "url": "https://www.bioenneagram.com/",
            "name": "Bioenneagram Coach",
            "publisher": { "@id": "https://www.bioenneagram.com/#person" },
            "inLanguage": "es",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "https://www.bioenneagram.com/?s={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          },
          {
            "@type": "WebPage",
            "@id": "https://www.bioenneagram.com/#webpage",
            "url": "https://www.bioenneagram.com/",
            "name": "Bioenneagram Coach | Eneagrama y Biodescodificación",
            "datePublished": "2021-11-12T07:41:17-05:00",
            "dateModified": "2023-06-07T15:48:09-05:00",
            "about": { "@id": "https://www.bioenneagram.com/#person" },
            "isPartOf": { "@id": "https://www.bioenneagram.com/#website" },
            "primaryImageOfPage": { "@id": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg" },
            "inLanguage": "es"
          },
          {
            "@type": "Person",
            "@id": "https://www.bioenneagram.com/#bioenneagram",
            "name": "bioenneagram",
            "url": "https://www.bioenneagram.com/#bioenneagram",
            "image": {
              "@type": "ImageObject",
              "@id": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "url": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg",
              "caption": "bioenneagram",
              "inLanguage": "es"
            }
          },
          {
            "@type": "Article",
            "headline": "Bioenneagram Coach | Eneagrama y Biodescodificación",
            "keywords": "eneagrama,enneagram,biodescodificacion,bioenneagram,bio enneagram,enneagram test,coach,coaching,neurofacilitador,eneatipo,eneatipos,personalidad,terapias,crecimiento personal,ansiedad,desarrollo personal,autoconocimiento,transformación personal,bienestar emocional,salud mental,equilibrio emocional,autoexploración,autorreflexión,autodesarrollo,autoayuda,autoestima,resiliencia,empoderamiento personal,habilidades de vida,inteligencia emocional",
            "datePublished": "2021-11-12T07:41:17-05:00",
            "dateModified": "2023-06-07T15:48:09-05:00",
            "author": { "@id": "https://www.bioenneagram.com/#bioenneagram" },
            "publisher": { "@id": "https://www.bioenneagram.com/#person" },
            "description": "Descubre cómo el poder del eneagrama y la biodescodificación pueden ayudar en el desarrollo del ser",
            "name": "Bioenneagram Coach | Eneagrama y Biodescodificación",
            "@id": "https://www.bioenneagram.com/#richSnippet",
            "isPartOf": { "@id": "https://www.bioenneagram.com/#webpage" },
            "image": { "@id": "https://www.bioenneagram.com/assets/bioenneagram-coach-logo.svg" },
            "inLanguage": "es",
            "mainEntityOfPage": { "@id": "https://www.bioenneagram.com/#main" }
          }
        ]
      }
    </script>
    <SiteVerification />
    <Analytics />

    <!-- Uncomment line below to activate View Transitions -->
    <!-- <ViewTransitions fallback="swap" /> -->
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
