---
// src/layouts/PageLayout.astro
import Layout from '~/layouts/Layout.astro'; // Asumiendo que Layout.astro es tu layout base
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
// import Announcement from '~/components/widgets/Announcement.astro';

import { getHeaderData, getFooterData } from '~/navigation';
import { getTranslator, defaultLang, supportedLangs, getTranslationsForLocale } from '~/i18n';

const currentLocale = Astro.currentLocale && supportedLangs.includes(Astro.currentLocale) 
  ? Astro.currentLocale 
  : defaultLang;

const translationsForLocale = getTranslationsForLocale(currentLocale);

const t = getTranslator(translationsForLocale, currentLocale);

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const headerData = getHeaderData(t, currentLocale); // Pasar t y currentLocale
const footerData = getFooterData(t, currentLocale); // Pasar t y currentLocale

// Puedes usar `t` aquí también para metadatos si es necesario
const pageTitle = metadata?.title ? metadata.title : t('site.title');
const pageDescription = metadata?.description ? metadata.description : t('site.description');
---

<Layout metadata={{ ...metadata, title: pageTitle, description: pageDescription }}>
  <!-- <slot name="announcement">
    <Announcement {...announcementData}/>
  </slot> -->
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme currentLocale={currentLocale} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <script is:inline define:vars={{ videoAskText: t('videoask.triggerText') }}>
      window.VIDEOASK_EMBED_CONFIG = {
        kind: 'widget',
        url: 'https://www.videoask.com/fqgsft4zc',
        options: {
          widgetType: 'VideoThumbnailExtraLarge',
          text: videoAskText, // Usar la variable traducida
          backgroundColor: '#379CFB',
          position: 'bottom-left',
          dismissible: true,
          videoPosition: 'center center',
        },
      };
    </script>
    <script is:inline src="https://www.videoask.com/embed/embed.js" async></script>
    
    <Footer {...footerData} currentLocale={currentLocale} />
  </slot>
</Layout>